.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .registerform {
    background-color: #fff;
    border: 0.0625rem solid #e5e7eb;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.6rem;
    padding: 2rem;

    .signup-button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #2e5ab0;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .signup-button[type="submit"]:hover {
      background-color: #2e59b0e8;
    }
  }

  .or {
    text-align: center;
  }

  .login-link {
    background-color: #f8f8f8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border: 0.0625rem solid #e5e7eb;
    &__text {
      text-align: center;
      //   color: #fff;
      color: #333;
    }
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }
}

.error {
  position: absolute;
  top: 15rem;
  background-color: rgb(231, 67, 67);
  padding: 1rem;
  color: #e6e6e6;
}
