.header {
  color: #fff;
  background-color: rgb(28, 44, 91);
  position: relative;
  // position: fixed;
  top: 0;
  right: 0;
  left: 0;

  //   z-index: 60;

  .navbar {
    // position: relative;
    // top: 0;
    // right: 0;
    // left: 0;
    display: flex;
    justify-content: space-between;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;

      li {
        position: relative;
        a {
          padding: 0.67rem;
          display: block;
          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }
    div {
      padding: 0.67rem;
      margin-right: 2.5rem;
      position: relative;
      svg {
        height: 1.25rem;
        width: 1.25rem;
      }

      &:hover > ul,
      &:focus-within > ul {
        display: initial;
      }

      ul {
        position: absolute;
        left: 0;
        // right: 0.5rem;
        background-color: #fff;
        color: #333;
        padding: 0;
        width: 10rem;
        display: none;
        top: 75%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        li {
          //   width: 200%;
          border-top: 1px solid #333;
        }
      }
    }
  }
}
