.header {
  background-color: rgb(28, 44, 91);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  //   height: 3rem;

  .navbar {
    // position: relative;
    // top: 0;
    // right: 0;
    // left: 0;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;

      li {
        position: relative;
        a {
          padding: 0.7rem;
          display: block;
          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }
  }
}
