.onboarding {
  margin-left: 8rem;
  margin-top: 47.7px;

  .pricing-widget {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .plan {
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 5px;
      width: 30%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      ul {
        list-style: none;
      }
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* This makes the background grey */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Ensure it's on top */
    }

    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      z-index: 1001; /* Ensure it's above the overlay */
    }
  }
}
