.tasks {
  margin-left: 10%;
  background-color: beige;
  h1 {
    margin: 0;
  }
  &-items {
    background-color: darkgray;
    &__item {
      width: 50%;
      position: relative;
      background-color: gainsboro;
      &-close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        // margin: 0.5rem;
        color: darkgreen;
        width: 2rem;
        height: auto;
        // padding: 1rem;
      }
    }
  }
}
